In [3]:
import osmnx as ox
import matplotlib.pyplot as plt
place_name = "Kathmandu, Nepal"
graph = ox.graph_from_place(place_name)
nodes, edges = ox.graph_to_gdfs(graph)
nodes.head()

,y,x,osmid,highway,geometry
1400078337,27.703136,85.333114,1400078337,NaN,POINT (85.33311 27.70314)
6091767816,27.713994,85.326856,6091767816,NaN,POINT (85.32686 27.71399)
1400078345,27.703270,85.327126,1400078345,NaN,POINT (85.32713 27.70327)
1400078348,27.703345,85.331427,1400078348,NaN,POINT (85.33143 27.70335)
1400078353,27.703525,85.333931,1400078353,NaN,POINT (85.33393 27.70352)

In [4]:
edges.head()

,osmid,highway,oneway,length,geometry,name,width,maxspeed,lanes,ref,junction,bridge,service,access,tunnel,u,v,key
0,126253242,residential,False,93.765,"LINESTRING (85.33311 27.70314, 85.33313 27.702...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1400078337,1400078298,0
1,126253251,residential,False,47.157,"LINESTRING (85.33311 27.70314, 85.33318 27.703...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1400078337,1400078334,0
2,126253251,residential,False,94.765,"LINESTRING (85.33311 27.70314, 85.33308 27.703...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1400078337,6098833109,0
3,174884532,secondary,False,14.890,"LINESTRING (85.32686 27.71399, 85.32687 27.714...",Sama Marg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6091767816,2105345267,0
4,174884532,secondary,False,96.898,"LINESTRING (85.32686 27.71399, 85.32685 27.713...",Sama Marg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6091767816,296319781,0